@import url('./_is-invisible/result-search__button_is-invisible.css');

.result-search__button {
  display: block;
  border-radius: 80px;
  padding: 18px 79px;
  margin: 0 auto;
}

@media screen and (min-width: 980px) {
  .result-search__button {
    width: 288px;
  }
}