.search__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  margin: 27px 0 3px;
}

@media screen and (min-width: 655px) {
  .search__title {
    width: 385px;
    margin: 39px 0 0;
  }
}

@media screen and (min-width: 980px) {
  .search__title {
    font-size: 60px;
    line-height: 64px;
    width: 608px;
    margin: 79px 0 0;
  }
}