.article__image {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-image: url('../../../images/image-article-3.png');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 196px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 655px) {
  .article__image {
    min-height: 272px;
  }
}