.search__form {
  position: relative;
}

@media screen and (min-width: 655px) {
  .search__form {
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 980px) {
  .search__form {
    margin-bottom: 66px;
  }
}