.result-search__article-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 400px));
  grid-gap: 9px 9px;
  justify-content: center;
  margin-bottom: 15px;
}

/* @media screen and (min-width: 576px) {
  .container {
    padding-right: calc(50% - 275px);
    padding-left: calc(50% - 275px);
  }
} */