@import url('./_theme/link_theme_light.css');
@import url('./_theme/link_theme_dark.css');

.link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  transition: opacity .5s ease;
  cursor: pointer;
}

.link:hover {
  opacity: .6;
}