<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Сервис для поиска новостей с возможностью сохранения их в своем личном кабинете">
  <meta name="author" content="Мария Скосырская">
  <title>Обозреватель новостей</title>
  <link rel="icon" href="<%= require('../images/favicon.png').default %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body class=body>
  <!-- класс root_overflow_hidden блокирует скролл на странице при открытии попапов (js)-->
  <div class="root">
    <div class="header-block">
      <header class="header header_theme_dark container">
        <a href="./" class="link logo logo_color_white">NewsExplorer</a>
        <!-- класс button-icon_is-invisible для скрытия кнопок вызова и скрытия мобильного меню (js) -->
        <button type="button" class="header__button-icon button-icon button-icon_type_open-white "
          id="openMenu"></button>
        <button type="button"
          class="header__button-icon button-icon button-icon_type_close-menu button-icon_is-invisible"
          id="closeMenu"></button>
        <!-- класс header__menu_is-visible для открытия мобильного меню (мобильное меню подключено через js и может быть открыто нажатием на соответствующую кнопку) -->
        <nav class="header__menu">
          <ul class="list header__list">
            <li class="list__item">
              <a href="./" class="link link_theme_dark header__link header__link_is_active-white">Главная</a>
            </li>
            <!-- класс list__item_is-invisible для скрытия пункта меню -->
            <li class="list__item  list__item_auth list__item_is-invisible">
              <a href="./favourites.html"
                class="link link_theme_dark header__link header__link_is_inactive-white">Сохраненные статьи</a>
            </li>
            <li class="list__item  list__item_unauth">
              <button type="button" class="button button_color_transparent header__button header__button_type_auth "
                id="openLoginPopup">Авторизоваться</button>
            </li>
            <li class="list__item  list__item_auth list__item_is-invisible">
              <button type="button"
                class="button button_color_transparent header__button header__button_type_logout-white"
                id="logout">Гретта</button>
            </li>
          </ul>
        </nav>
      </header>

      <section class="search container">
        <h1 class="search__title">Что
          творится в
          мире?</h1>
        <p class="subtitle search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своем личном
          кабинете</p>
        <form class="form search__form" name="formSearch" novalidate>
          <input class="input search__input" type="text" name="keyWord" placeholder="Введите тему новости" required
            minlength="1" maxlength="30" autofocus>
          <span id="keyWord-error" class="error-message search__error-message"></span>
          <button type="submit" class="button button_color_blue search__button" id="searchNews">Искать</button>
        </form>
      </section>
    </div>

    <main class="main">
      <section class="result-search container">
        <!-- класс result-search__preloader_is-invisible при необходимости скрывает блок result-search__preloader -->
        <div class="result-search__preloader result-search__preloader_is-invisible">
          <i class="result-search__circle-preloader"></i>
          <p class="subtitle result-search__subtitle">Идет поиск новостей...</p>
        </div>

        <!-- класс result-search__content_is-invisible при необходимости скрывает блок result-search__content-->
        <div class="result-search__content result-search__content_is-invisible">
          <h2 class="title result-search__title">Результаты поиска</h2>

          <div class="result-search__article-list">

            <!-- здесь будут карточки -->

          </div>

          <button type="button" class="button button_color_white result-search__button">Показать еще</button>
        </div>

        <!-- класс result-search__not-found_is-invisible при необходимости скрывает блок result-search__not-found -->
        <div class="result-search__not-found result-search__not-found_is-invisible">
          <span class="result-search__image"></span>
          <h3 class="result-search__title">Ничего не найдено</h3>
          <p class="subtitle result-search__subtitle">К сожалению, по вашему запросу<br>ничего не найдено.</p>
        </div>

        <div class="result-search__error result-search__error_is-invisible">
          <span class="result-search__image"></span>
          <h3 class="result-search__title">Что-то пошло не так:(</h3>
          <p class="subtitle result-search__subtitle"> «Во время запроса произошла ошибка. Возможно, проблема с
            соединением или сервер недоступен. Подождите немного и попробуйте ещё раз».</p>
        </div>
      </section>

      <section class="root__author author container">
        <picture>
          <source srcset="<%=require('../images/avatar-desktop.png').default%>" media="(max-width: 1000px)">
          <source srcset="<%=require('../images/avatar-tablet.png').default%>" media="(max-width: 768px)">
          <img src="<%=require('../images/avatar-mobile.png').default%>" alt="Автор сайта" class="author__avatar">
        </picture>
        <div class="author__description">
          <h2 class="title author__title">Об авторе</h2>
          <p class="author__about">
            Это блок с описанием автора проекта. Здесь следует указать, как вас зовут,
            чем вы занимаетесь, какими технологиями разработки владеете.
          </p>
          <p class="author__about">
            Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились,
            и чем можете помочь потенциальным заказчикам.
          </p>
        </div>
      </section>
    </main>

    <!-- popup overlay открывается в момент открытия мобильного меню-->
    <!-- класс popup_is-opened открывает попапы (добавляется и удаляется при помощи js нажатием на кнопку открытия мобильного меню) -->
    <div id="overlay" class="popup popup_overlay"></div>

    <footer class="footer container">
      <div class="footer__copyright">&copy; 2020 Supersite, Powered by News API</div>
      <div class="footer__links">
        <ul class="list list_content_info">
          <li class="list__item">
            <a href="./" class="link link_theme_light list__link">Главная</a>
          </li>
          <li class="list__item">
            <a href="https://praktikum.yandex.ru" class="link link_theme_light list__link"
              target="_blank">Яндекс.Практикум</a>
        </ul>
        <ul class="list list_content_social">
          <li class="list__item">
            <a href="https://github.com/MeryMegg" target="_blank" class="link social__link">
              <img src="<%=require('../images/github.svg').default%>" alt="ссылка на Github" class="list__icon">
            </a>
          </li>
          <li class="list__item">
            <a href="https://facebook.com" target="_blank" class="link social__link">
              <img src="<%=require('../images/fb.svg').default%>" alt="ссылка на Facebook" class="list__icon">
            </a>
          </li>
        </ul>
      </div>


    </footer>
  </div>

  <!-- Templates -->

  <!-- карточка  -->
  <template id="card-template" style="display: none;">
    <article class="article">
      <img class="article__image" src="<%= require('../images/image-article-1.png').default %>" alt="Фото
      статьи">
      <button type="button" class="button-icon article__button-icon article__button-icon_type_save"><span
          class="article__tooltip">Войдите, чтобы
          сохранять статьи</span></button>

      <div class="article__description">
        <time datetime="2019-08-02" class="article__date">2 августа, 2019</time>
        <h3 class="article__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
        <p class="article__text">
          Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения.
          В этот раз он отправился в...
        </p>
        <a href="https://meduza.io/" target="_blank" class="link article__link">Медуза</a>
      </div>
    </article>
  </template>

  <!-- Форма входа -->
  <template id="form-login-template" style="display: none;">
    <div class="popup__content popup__content_form">
      <span class="popup__close"></span>
      <h3 class="popup__title">Вход</h3>
      <form class="form" name="formLogin">
        <div class="form__input-block">
          <label for="loginInputEmail" class="form__label">Email</label>
          <input type="email" name="loginEmail" id="loginInputEmail" class="input form__input form__input_type_email"
            pattern="(?:^\w{1,}-?\w?)@(?:\w{1,}-?(?:\w{1,})?)\.(?:\w{1,})\.?(?:\w{1,})?" placeholder="Введите почту"
            required>
          <span id="loginEmail-error" class="error-message form__error-message"></span>
        </div>
        <div class="form__input-block">
          <label for="loginInputPass" class="form__label">Пароль</label>
          <input type="password" name="loginPassword" id="loginInputPass"
            class="input form__input form__input_type_password" placeholder="Введите пароль" minlength="8"
            maxlength="30" required>
          <span id="loginPassword-error" class="error-message form__error-message"></span>
        </div>
        <span class="error-message popup__error-message"></span>
        <button name="batton-login" id="buttonLogin" class="button button_color_blue popup__button button_is-disabled"
          disabled>Войти</button>
      </form>
      <span class="popup__choice">
        или
        <span id="buttonChoiceReg" class="link popup__link">Зарегистрироваться</span>
      </span>
    </div>
  </template>

  <!-- Форма регистрации -->
  <template id="form-reg-template" style="display: none;">
    <div class="popup__content popup__content_form">
      <span class="popup__close"></span>
      <h3 class="popup__title">Регистрация</h3>
      <form class="form" name="formReg">
        <div class="form__input-block">
          <label for="regInputEmail" class="form__label">Email</label>
          <input type="email" name="regEmail" id="regInputEmail" class="input form__input form__input_type_email"
            pattern="(?:^\w{1,}-?\w?)@(?:\w{1,}-?(?:\w{1,})?)\.(?:\w{1,})\.?(?:\w{1,})?" placeholder="Введите почту"
            required>
          <span id="regEmail-error" class="error-message form__error-message"></span>
        </div>
        <div class="form__input-block">
          <label for="regInputPass" class="form__label">Пароль</label>
          <input type="password" name="regPassword" id="regInputPass"
            class="input form__input form__input_type_password" placeholder="Введите пароль" minlength="8" required>
          <span id="regPassword-error" class="error-message form__error-message"></span>
        </div>
        <div class="form__input-block">
          <label for="userName" class="form__label">Имя</label>
          <input type="text" name="userName" id="userName" class="input form__input form__input_type_password"
            placeholder="Введите свое имя" minlength="2" maxlength="30" required>
          <span id="userName-error" class="error-message form__error-message"></span>
        </div>
        <span class="error-message popup__error-message"></span>
        <!-- класс  popup__button_is-disabled визуализирует кнопку как не активная -->
        <button name="button-reg" id="buttonReg" class="button button_color_blue popup__button button_is-disabled"
          disabled>Зарегистрироваться</button>
      </form>
      <span class="popup__choice">
        или
        <span id="buttonChoiceLogin" class="link popup__link">Войти</span>
      </span>
    </div>
  </template>

  <!-- окно с ответом об успешной регистрации -->
  <template id="form-response-template" style="display: none;">
    <div class="popup__content">
      <span class="popup__close"></span>
      <h3 class="popup__title">Пользователь успешно зарегистрирован!</h3>
      <span id="buttonChoiceLoginFromRes" class="link popup__link popup__link_size_l">Войти</span>
    </div>
  </template>


  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>