@import url('./_color/logo_color_white.css');
@import url('./_color/logo_color_black.css');

.logo {
  position: relative;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  z-index: 11;
  color: #fff;
}

@media screen and (min-width: 655px) {
  .logo {
    font-size: 20px;
    line-height: 24px;
  }
}