@import url('./_type/button-icon_type_open-menu.css');
@import url('./_type/button-icon_type_close-menu.css');
@import url('./_type/button-icon_type_save-article.css');
@import url('./_invisible/button-icon_invisible.css');

.button-icon {
  border: none;
  cursor: pointer;
  outline: none;
  transition: opacity .5s ease;
}