@import url('./_is-invisible/article__tooltip_is-invisible.css');

.article__tooltip {
  visibility: hidden;
  width: 182px;
  background-color: #fff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  padding: 14px 0;

  position: absolute;
  top: 0;
  right: 45px;

  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000;
  align-items: center;
  text-align: center;
}