@import url('./_location/result-search__title_location_left.css');

.result-search__title {
margin: 0 0 24px;
font-family: 'Roboto Slab', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 34px;
color: hsl(233, 13%, 12%);
}

@media screen and (min-width: 980px) {
  .result-search__title {
    font-size: 40px;
    line-height: 46px;
    margin: 0 0 63px;
  }
}