@import url('./_is-invisible/result-search__error_is-invisible.css');

.result-search__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
}

@media screen and (min-width: 768px) {
  .result-search__error {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 900px) {
  .result-search__error {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .result-search__error {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}