@import url('./__item/list__item.css');
@import url('./_content/list_content_social.css');
@import url('./_content/list_content_info.css');
@import url('./__icon/list__icon.css');

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 655px) {
  .list {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
  }
}