.author__avatar {
  max-width: 272px;
  height: auto;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 655px) {
  .author__avatar {
  margin-right: 20px;
  }
}